doctype html
html(lang='en')
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(charset='utf-8')
		title #{title} | Just Do IT
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		// bootstrap & fontawesome
		link(rel='stylesheet', href='./stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='./stylesheets/font-awesome.min.css')
		// page specific plugin styles
		link(rel='stylesheet', href='./stylesheets/style.css')
		// text fonts
		link(rel='stylesheet', href='./stylesheets/fonts.googleapis.com.css')
		// ace styles
		link#main-ace-style.ace-main-stylesheet(rel='stylesheet', href='./stylesheets/ace.min.css')
		link(rel='stylesheet', href='./stylesheets/ace-skins.min.css')
		link(rel='stylesheet', href='./stylesheets/ace-rtl.min.css')
		// inline styles related to this page
		// ace settings handler
		script(src='./javascripts/ace-extra.min.js')
	body(class=(title === "Login" || title === "Register"  || title === "Forgot" ? 'login-layout' : 'no-skin'))
		block content
		block scripts
		script(src='./javascripts/jquery-2.1.4.min.js')
		// <![endif]
		script(type='text/javascript').
			if('ontouchstart' in document.documentElement) document.write("<script src='../public/javascripts/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		script(src='./javascripts/bootstrap.min.js')
		// page specific plugin scripts
		// ace scripts
		script(src='./javascripts/ace-elements.min.js')
		script(src='./javascripts/ace.min.js')
		script(type='text/javascript', src='/build/bundle.js')
		if title === "Login" || title === "Register" || title === "Forgot"
			script(type='text/javascript').
				jQuery(function($) {
				$(document).on('click', '.toolbar a[data-target]', function(e) {
				e.preventDefault();
				var target = $(this).data('target');
				$('.widget-box.visible').removeClass('visible');//hide others
				$(target).addClass('visible');//show target
				});
				});
				//you don't need this, just used for changing background
				jQuery(function($) {
				$('#btn-login-dark').on('click', function(e) {
				$('body').attr('class', 'login-layout');
				$('#id-text2').attr('class', 'white');
				$('#id-company-text').attr('class', 'blue');
				e.preventDefault();
				});
				$('#btn-login-light').on('click', function(e) {
				$('body').attr('class', 'login-layout light-login');
				$('#id-text2').attr('class', 'grey');
				$('#id-company-text').attr('class', 'blue');
				e.preventDefault();
				});
				$('#btn-login-blur').on('click', function(e) {
				$('body').attr('class', 'login-layout blur-login');
				$('#id-text2').attr('class', 'white');
				$('#id-company-text').attr('class', 'light-blue');
				e.preventDefault();
				});
				});